<a href="{{ "" | relURL }}">主页</a>
{{ range .Site.Menus.main }}
<a href="{{ .URL }}">{{ .Name }}</a>
{{ end }}
{{ with .Site.GetPage "/myproject" }}
<a href="{{ "myproject" | relURL }}">我的项目</a>
{{ end }}
{{ with .Site.GetPage "/dailyblog" }}
<a href="{{ "dailyblog" | relURL }}">随笔</a>
{{ end }}
{{ with .Site.GetPage "/note" }}
<a href="{{ "note" | relURL }}">笔记</a>
{{ end }}
{{ with .Site.GetPage "/codetravel" }}
<a href="{{ "codetravel" | relURL }}">代码旅程</a>
{{ end }}
{{ with .Site.GetPage "/rss" }}
<a href="{{ "rss" | relURL }}">RSS分享</a>
{{ end }}
